h1 {
    background-color: black;
    text-align: left;
    font-family: arial, sans-serif;
    color: white;
    border: 25px solid black;
}

h2 {
    border: 25px;
    padding: 8px;
}

h3 {
    border: 10px;
    padding: 10px;
}

.outer-div {
    background: #fff2ea;
    padding: 40px 0;
    width: 100%;
}

.inner-div {
    font-family: arial, sans-serif;
    text-align: center;
}

.radio-div {
    font-family: arial, sans-serif;
    text-align: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th {
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    background-color: rgb(254, 176, 72);
}

th:nth-child(even) {
    background-color: rgb(243, 140, 1);
}

td {
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
    background-color: rgb(243, 140, 1);
}

td:nth-child(even) {
    background-color: rgb(254, 176, 72);
}